ANTHROPIC_API_KEY=replace_with_your_api_key
ANTHROPIC_BASE_URL=https://dashscope.aliyuncs.com/apps/anthropic
MODEL=qwen-plus

# deepseek
DEEPSEEK_API_KEY=replace_with_your_api_key
DEEPSEEK_BASE_URL=https://api.deepseek.com
